.label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $second-color;
}
.checkbox {
  appearance: none;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $second-color;
  &__icon {
    display: block;
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border: 2px solid $main-color;
    border-radius: 4px;
  }
  &:checked + &__icon {
    border-color: $hover-color;
    background-color: $hover-color;
    background-image: url(../images/icon.svg);
    background-size: contain;
    background-origin: border-box;
  }
  &__terms {
    color: $hover-color;
    margin-left: 4px;
  }
}
