.footer__socials {
  display: flex;
  gap: 10px;
  justify-content: center;
  @include mq(mobile-only) {
    margin-bottom: 60px;
  }
}
.footer__socials--link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: $third-color;
  align-items: center;
  transition-duration: 250ms;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $hover-color;
  }
}
.footer__socials--icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
