.header {
  border-bottom: 1px solid #ececec;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $tablet) {
      margin: 0 auto;
      justify-content: space-between;
    }
  }
}
