.header {
  border-bottom: 1px solid #ececec;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mq(mobile-only) {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}
