.header__contacts {
  display: flex;
  gap: 50px;
  margin-left: auto;
  &--icon {
    fill: currentColor;
    margin-right: 10px;
  }
}
.header__nav--item {
  .header__contacts & {
    display: flex;
    align-items: center;
    color: $second-color;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 0.02em;
    transition-duration: 250ms;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__contacts &:hover,
  .header__contacts &:focus {
    color: $hover-color;
  }
}
