.hero {
  background-image: $gradient, url("../images/bgimage-mobile.jpg");
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: $gradient, url("../images/bgimage-mobile@2x.jpg");
  }
  background-color: #2f303a;
  margin: 0 auto;
  max-width: 1600px;
  padding: 118px 0px;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include mq(tablet) {
    background-image: $gradient, url("../images/bgimage-tablet.jpg");
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: $gradient, url("../images/bgimage-tablet@2x.jpg");
    }
  }
  @include mq(desktop) {
    background-image: $gradient, url("../images/bgimage-desktop.jpg");
    padding: 200px 0;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: $gradient, url("../images/bgimage-desktop@2x.jpg");
    }
  }
  &__head {
    max-width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    color: $third-color;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    @include mq(desktop) {
      font-size: 44px;
      line-height: 1.36;
      max-width: 696px;
    }
  }
  &__button {
    width: 216px;
    min-height: 50px;
    background-color: $hover-color;
    font-family: inherit;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: $third-color;
    cursor: pointer;
    margin: 0 auto;
    border: 0;
    justify-content: center;
    text-align: center;
  }
}
