.hero {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/bgimage.jpg");
  background-color: #2f303a;
  max-width: 1600px;
  padding: 200px 0;
  margin: auto;
  text-align: center;

  &__head {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: $third-color;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  &__button {
    width: 216px;
    min-height: 50px;
    background-color: $hover-color;
    font-family: inherit;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: $third-color;
    cursor: pointer;
    margin: 0 auto;
    border: 0;
    justify-content: center;
    text-align: center;
  }
}
