.clients {
  margin-bottom: 94px;
  &__head {
    color: $main-color;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 60px;
    @include mq(desktop) {
      font-size: 36px;
      line-height: 1.18;
      margin-top: 94px;
    }
  }
  &__logo {
    @include card-set;
    margin-top: 30px;
    @include mq(desktop) {
      margin-top: 50px;
    }
  }
  &__item {
    @include card-set-item(2);
    @include mq(tablet) {
      @include card-set-item(3);
    }
    @include mq(desktop) {
      @include card-set-item(6);
    }
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 92px;
    border-radius: 4px;
    color: #afb1b8;
    border: 1px solid #afb1b8;
    transition-duration: 250ms;
    transition-property: color, border;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border: 1px solid $hover-color;
      color: $hover-color;
    }
  }
  &__icon {
    fill: currentColor;
  }
}
