.our-work {
  padding-top: 0;

  &__head {
    color: $main-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    text-align: center;
    justify-content: center;
    margin: 0 auto 50px;
  }
  &__list {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    gap: 30px;
  }
}
.list__thumb {
  position: relative;
  overflow: hidden;

  & > .list__label {
    display: flex;
    position: absolute;
    width: 370px;
    height: 70px;
    bottom: 0;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    color: $third-color;
  }
}
