.portfolio__thumb {
  position: relative;
  overflow: hidden;
  width: 100%;
  @include mq(tablet) {
    width: 354px;
  }
  @include mq(desktop) {
    width: 370px;
  }
  &--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &--text {
    padding: 63px 24px;
    align-content: center;
    font-size: 18px;
    line-height: 1.56;
    color: $third-color;
  }
  &--wrapper {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
    flex-grow: 1;
  }
  &--header {
    display: block;
    margin-bottom: 4px;
    color: $main-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
  &--profile {
    color: $second-color;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    margin-top: 4px;
  }
}
