.portfolio {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  &__hero-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 40px;
    @media (min-width: $mobile) and (max-width: 767px) {
      width: 326px;
      justify-content: start;
    }
  }
  &__button {
    font-family: inherit;
    background-color: #f5f4fa;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: $main-color;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
    transition-duration: 250ms;
    transition-property: color, background-color, box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $hover-color;
      color: #f5f4fa;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
  &__images {
    display: block;

    @include mq(tablet) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
  }
  &-link {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__item {
    @include mq(tablet) {
      width: calc((100% - 30px) / 2);
    }
    @include mq(desktop) {
      width: calc((100% - 60px) / 3);
    }

    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }
    &:hover .portfolio__thumb--overlay,
    &:focus .portfolio__thumb--overlay {
      transform: translateY(0);
    }
    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
  &__icon {
    display: block;
    width: 100%;
    height: auto;
  }
}
