.working {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  @media (min-width: $tablet) {
    @include card-set;
  }
  &__thumb {
    @include card-set-item;

    @include mq(tablet) {
      @include card-set-item(2);
    }
    @include mq(desktop) {
      @include card-set-item(4);
    }
  }
  &__item {
    @include f-centered;
    padding: 25px;
    border-radius: 4px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
  }
  &__icon {
    display: block;
  }
  &__head {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: $main-color;
    @media (max-width: 767px) {
      text-align: center;
    }
  }
  &__text {
    color: $second-color;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin: 0;
  }
}
