.working {
  display: flex;
  gap: 30px;
  &__item {
    width: 270px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
  }
  &__icon {
    display: block;
  }
  &__head {
    color: $main-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }
  &__text {
    color: $second-color;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin: 0;
  }
}
