body {
  font-family: $main-font;
  color: $main-color;
}
/* reset  */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* base styles */
.sections {
  margin: 0 auto;
  padding: 60px 0;
  @media (min-width: $desktop) {
    padding: 94px 0;
  }
}
.container {
  padding: 0 15px;
  margin: 0 auto;
  @media (max-width: 479px) {
    width: auto;
  }
  @media (min-width: $mobile) {
    width: 100%;
    max-width: $mobile;
  }
  @media (min-width: $tablet) {
    max-width: $tablet;
  }
  @media (min-width: $desktop) {
    max-width: $desktop;
  }
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
